<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1 th:text="${session.user != null} ? 'Welcome, ' + ${session.user.username} : 'Login'"></h1>

<div th:if="${session.user == null}">
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="userName" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <button onclick="window.location.href='/register';">Register</button>
    </div>
</div>

<div th:if="${session.user != null}">
    <button th:onclick="'window.location.href=\'' + @{/logout} + '\';'">Logout</button>
</div>

</body>
</html>
